<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8rGpiwMYKUlouFrkswYV4p8o-K26zAtI</string>
	<key>GCM_SENDER_ID</key>
	<string>407848642678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmates</string>
	<key>PROJECT_ID</key>
	<string>assignmates-c09dc</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmates-c09dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407848642678:ios:70c8aa25a8b1f64cdf5757</string>
</dict>
</plist>